:root {
    --hexagonBackground: rgba(19, 19, 19, 0.9);
    --hexagonWidth : 15.625vw;
}

.body {
    margin: 0%;
    padding: 0%;

}


:root {
    --posterFont: 'Kumbh Sans', sans-serif;
    --navFont: 'Inter', sans-serif;
    --red:#FF0000;
    --creme:#F4E3C7;
}
ul{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
nav{
    z-index: 1;
    padding-left: 4em;
    top: 0;
    /* position: fixed; */
    font-style: normal;
    font-weight: 410;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: inset 0px -1px 0px #C4C4C4;
    background: rgba(255, 255, 255, 0.8);
}

nav>ul{
    margin: 0.5em, auto;
    list-style: none;
    padding: 0;
}

nav ul li{
    margin:0.8em;
}

nav a{
    text-decoration: none;
}

nav a.active{
    background-color: var(--creme);
    border-radius: 80px;
    padding: 0.5em 0.7em;
}

nav .logo{
    margin-bottom: 0.2em;
}

nav div img{
    width: 1.2em;
    margin:auto 2.5em;
}

.left-nav{
    display: flex;
    flex-wrap: wrap;
    order:0;
}

.right-nav{
    display: flex;
    flex-wrap: wrap;
    order:2;
}

.box{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    background-image:  url(../images/bgImage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    overflow-y: scroll;
}

.containerMain {
    height: 85%;
    width: 100%;

   
}
.achievementsMainBox{
    width: 80%;
    height: calc((var(--hexagonWidth)*0.57735)*2);
    
}
.contentBox{
    height: fit-content;
    margin: auto;
    padding: 0%;
    width: 80%;
    /* background-color: rgb(205, 204, 204); */
}
.achievementsContentBox{
    width: 80%;
    height: fit-content;
    margin-top: 15vh;
    padding: 1%;
    /* background: rgb(41, 40, 40); */
    height: auto;
    

}
.hexagon {
    width: var(--hexagonWidth);
    height: auto;
    background: rgba(19, 19, 19, 0.9);
    position: relative;
    aspect-ratio: 100 / 57.735;
}

.hexagon::before {
    content: "";
    position: absolute;
    top: calc(-1*(var(--hexagonWidth)*0.57735)/2);
    left: 0;
    width: 0;
    height: 0;
    border-left:  calc(var(--hexagonWidth)/2) solid transparent;
    border-right:  calc(var(--hexagonWidth)/2) solid transparent;
    border-bottom: calc(var(--hexagonWidth)*0.57735/2) solid rgba(19, 19, 19, 0.9);
    ;
}

.hexagon::after {
    content: "";
    position: absolute;
    bottom: calc(-1*var(--hexagonWidth)*0.57735/2);
    left: 0;
    width: 0;
    height: 0;
    border-left:  calc(var(--hexagonWidth)/2) solid transparent;
    border-right:  calc(var(--hexagonWidth)/2) solid transparent;
    border-top: calc(var(--hexagonWidth)*0.57735/2) solid rgba(19, 19, 19, 0.9);
}
.hexagon a{
    cursor: pointer;
    text-decoration: none;
    font-size: large;
    
}
.hexagon a:hover{
    font-size: larger;
    
}
.left{
    height: 100%;
    width: 50%;
    /* border-right: 1px solid red; */
    /* background: blue; */
}
.right{
    height: 100%;
    width: 50%;
    border-left: 1px solid red;
    /* background-color: #fff; */
}
.achievementsContentBox .card{
    background: transparent;
    border: 0;
}