:root {
    --posterFont: 'Kumbh Sans', sans-serif;
    --navFont: 'Inter', sans-serif;
    --red:#FF0000;
    --creme:#F4E3C7;
    --polaroidFont:  'Indie Flower', cursive;
    --polaroidImageWidth:40em;
}

ul{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

body{
    background-image: url('../images/eventsImages/bgImage.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--navFont);
    
}

nav{
    transition: transform 0.5s linear;
    z-index: 1;
    padding-left: 4em;
    top: 0;
    position: fixed;
    font-style: normal;
    font-weight: 410;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: inset 0px -1px 0px #C4C4C4;
    background: rgba(255, 255, 255, 0.8);
}

nav>ul{
    margin: 0.5em, auto;
    list-style: none;
    padding: 0;
}

nav ul li{
    margin:0.8em;
}

a{
    text-decoration: none;
    color: #161717;
}

nav a.highlight{
    background-color: var(--creme);
    border-radius: 80px;
    padding: 0.5em 0.7em;
}

nav .logo{
    margin-bottom: 0.2em;
}

nav div img{
    width: 1.2em;
    margin:auto 2.5em;
}

.left-nav{
    display: flex;
    flex-wrap: wrap;
    order:0;
}

.right-nav{
    display: flex;
    flex-wrap: wrap;
    order:2;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 36px;
    height: 4px;
    background-color: #333;
    margin: 6.5px 0;
    transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

.mob-nav {
    display: none;
}

.mob-nav-content{
    display: none;
}

/* ----------------content-------------------- */


.section{
    position: relative;
    top: 6em;
}

.head h1{
    display: inline;
    position:relative;
    top: 3em;
    left: 1.8em;
}

div.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.heading div{
    margin: -6em 5em;
}

.dash{
    width: 1px;
    height: 260px;
    background: linear-gradient(180deg, #161717 0%, rgba(209, 206, 206, 0.610909) 99.98%, rgba(224, 224, 224, 0.473958) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.right{
    transform: rotate(-90deg);
}

.left{
    transform: rotate(90deg);
}

.section h1{
    font-weight: 800;
    text-shadow: 11px 5px 10px rgba(0, 0, 0, 0.25);
    font-size: 1.8em;
}

.head h1{
    font-weight: 800;
    font-size: 1.7em;
    text-shadow: 9px 3px 7px rgba(0, 0, 0, 0.10);
}

.section h1 span,.head h1 span{
    color: var(--red);
}

/*---------------------- upcoming----------------- */



.upcoming .u-poster img{
    width: 13em;
    transition: width 0.5s, height 0.5s;
    height: 16em;
    border: 7px solid var(--creme);
    transition: transform 0.5s;
}

.upcoming .active img{
    width: 13em;
    transform: scale(1.1,1.1);
    pointer-events: none;
    /* transition: width 0.5s, height 0.5s; */
    
    height: 16em;
    border: 3.5px solid var(--red);
}

.upcoming .u-posters{
    height: 29em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 0.5em auto; */
}

.upcoming .u-poster{
    margin: 1.7em;
    /* z-index: 1; */
}

.upcoming .u-poster h6 {
    text-align: center;
    font-family: var(--posterFont);
    font-weight: 590;
    color: gray;
    font-size: 0.8em;
    margin-bottom: 1.3em;
    letter-spacing: 0.04em;

    position: relative;
    opacity: 0;
    transform: translate(0, 3em);
    transition: opacity 1.4s, transform 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
}

.register{
    font-style: oblique;
    font-size: 0.85em;
    margin-top: 0.4em;
    background-color: var(--red);
    text-align: center;

    position: relative;
    opacity: 0;
    transform: translate(0, -2em);
    transition: opacity 2s, transform 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
}

.register a{
    color: white;
    text-decoration: none;
}

.upcoming .active div.register{
    opacity: 1;
    transform: translate(0, 1em);
}

.upcoming .active h6{
    opacity: 1;
    transform: translate(0, -1em);
}

.upcoming .u-poster:hover > h6{
    opacity: 1;
    transform: translate(0, 0);
}

.upcoming .active:hover > h6{
    opacity: 1;
    transform: translate(0, -1em);
}

.upcoming .u-poster img:hover{
    cursor: pointer;
}


/* --------------------previous------------------ */

@keyframes scrollHorizontal{
    0% {
        transform: translateX(430%);
    }
    100% {
        transform: translateX(-486%);
    }
}

.previous{
    margin-top: 6em;
    height: 44em;
}

.select{
    border: 4px solid var(--red);
    filter: sepia(200%);
    filter: grayscale(200%);
    
}

div.prev-poster h6{
    position: absolute;
    top:2em;
    z-index: 1;
}


.panel{
    left: 0;
    top:7em;
    position: absolute;
    margin: auto;
    height: 42em;
    width: 90%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    right: 0;
}

.previous .prev-posters{
    overflow: hidden;
    position: relative;
    top: 3.5em;
    display: flex;
    justify-content: center; 
}

.previous .prev-poster img{
    width: 11em;
    height: 14em;
    filter: drop-shadow(3px 6px 10px rgba(0, 0, 0, 0.5));
    border-radius: 2px;
}

.previous .prev-poster {
    margin: 2.89em;
    animation: scrollHorizontal 25s linear infinite;
}


.previous .row2 .prev-poster{
    animation-direction: reverse;
}


/* -------------------moments------------------- */


.moments{
    margin-top: 13em;
    position: relative;
    /* margin-bottom: 20em */
}

.moments .background{
    background-color: white;
    padding: 2em;
    /* padding-bottom: 3em; */
    width: calc(var(--polaroidImageWidth) + 4em);
    position:relative;
    top: 5em;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    filter:drop-shadow(2px 1px 11px rgba(0, 0, 0, 0.2));
}

.moments .background img{
    height: 25em;
    object-fit: cover;
    /* opacity: 0.7; */
    width: var(--polaroidImageWidth);
}

.moments .bubble-container{
    position: relative;
    top:-1em;
}

.background h3{
    font-family: var(--polaroidFont);
    margin-top: 1em;
    margin-left:1em ;
}

section {
    top:3em;
    position: absolute;
    width: 100%;
    height: 130%;
    /* height: 42em; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h2 {
    font-size: 10em;
    color: #333;
}

section div img{
    opacity: 0.7;
    border-radius: 50%;
    object-fit: cover;
}

/* .glimpse-container #glimpse{
    width: 18em;
    height: 35em;
    object-fit: cover;
    border: 3px solid var(--red);
    box-shadow: inset 0 0 10px var(--red);
}

.glimpse-container{
    width: fit-content;
    z-index: 1;
    position: absolute;
    top:4em;
    left: 50%;
    transform: translateX(-50%);

} */


section div {
    position: absolute;
    bottom: -50px;
    border-radius: 50%;

    /* pointer-events: none; */
    box-shadow: inset 0 0 10px 
      rgba(225, 225, 225, 0.5);
    filter: drop-shadow(7px 4px 4px rgba(0, 0, 0, 0.2));
    animation: animate 0.8s linear infinite;
}
section div:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.25) translate(-70%, -70%);
    background: 
      radial-gradient(#ffffff, transparent);
    border-radius: 50%;
}




@keyframes animation {
    0% {
        transform: translateY(-000%);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        transform: translateY(-1200%);
        opacity: 0;
    }
}



/* footer----------------------------- */

footer {
    z-index: -1;
    background-color: #e6e6e6;
    padding: 13vh 0;
    padding-bottom: 7vh;
    position: relative;
    top: 18em;
    /* top:180vh */
}

footer ul li{
    list-style: none;
}

footer .top-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 4vw;
    /* padding: 8em; */
}

footer .top-footer .footer-content{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 11vw;
    /* padding: 8em; */
}


footer .logo-image img{
    width:10vw;
}

footer .location h6{
    width: 18em;
}

.top-footer h4{
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

.top-footer ul li, .top-footer h6{
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.7em;

}

.top-footer ul li{
    line-height: 1.9em;
}

.top-footer h6{
    line-height: 1.4em;
}

iframe{
    margin-top: 1em;
}

.bottom-footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.top-footer .contact>h5{
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 0.8em;
    padding-bottom: 1em;
}


.top-footer .contact h6{
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.8em;
}

.top-footer .contact .mail h6:first-child{
    padding-bottom: 0.5em;
}


.top-footer .contact{
    align-self: auto;
}

.mail{
    margin-bottom: 2em;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact form input, .contact form textarea{
    padding: 0.5em;
    font-weight: 400;
    font-size: 0.7em;
    border: none;
    background: transparent;
    border-bottom: 0.1px solid #C4C4C4; 
    margin-bottom: 1em;
}

.contact form input:focus, .contact form textarea:focus{
    /* border: none; */
    outline:none;
}

.contact form .fa{
    color: #999999;
    cursor: pointer;
    transition: transform 0.4s ease-out, opacity 0.8s ease-in ;
}

form span i.sent{
    /* transform: scale(1.2,1.2); */
    transform:translateX(10vw);
    opacity: 0;
}

textarea::-webkit-scrollbar{
    width: 0.3em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: var(--clr-dark);
    border-radius: 10px;
    /* width: 2px; */
}
textarea::-webkit-scrollbar-track{
    background-color: #999999;
}

.copyright h6{
    position: absolute;
    right: 3vw;
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.65em;
    padding-top: 1.5em;
}




/* ---------responsive-------------------------------- */
@media only screen and (max-width: 820px) {

.upcoming .u-posters{
    flex-direction: column;
    height: auto;
}

div.heading div{
    margin: -6em 3em;
}

.dash{
    height: 165px;
}


div.heading{
    margin-top: 5em;
}

.panel{
    top: 3em;
}

.card-panel{
    position: relative;
    top: 2em;
}



}

/* phones-------------------------------------- */

@media only screen and (max-width: 700px) {

.mob-nav {
    display: flex;
    
}

nav .left-nav{
    display: none;
}

nav .right-nav{
    display: none;
}

nav{
    backdrop-filter: blur(5px);
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: space-between;
}

.mob-nav-content{
    flex-basis: 100%;
    text-align: center;
}

.mob-nav-content ul{
    list-style: none;
}




.show{
    display: block;
}


.dash{
    display: none;
}

.upcoming .u-posters{
    margin-top: 2em;
}

.moments .background{
    padding: 0.7em;
    width: fit-content;
}

.moments .background img{
    width: 80vw;
    height: 20vh;
} 


}




@media(max-width: 700px){
    footer{
        top: 12.6em;
    }
}

@media(max-width: 950px) {

    .footer-content{
        display: flex;
        flex-direction: column;
    }
    .nav_footer, .talk_footer{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    .navigation ul li, .talk-to-us ul li{
        margin-top: 0;
        margin: 0.5em;
    }
    .navigation h4{
        padding-top: 1em;
    }
    .location, .contact{
        display: flex;
        flex-direction: column;
    }
    .contact{
        padding-top: 1em;
    }
    .top-footer h4 {
        padding-bottom: 0.2em;
        align-self: center;
        text-align: center;
    }
    .bottom-footer{
        display: flex;
        justify-content: center;
        font-family: var(--contentFont);
        text-align: center;
    }
    .bottom-footer h6{
        font-size: 0.65em;
        font-weight: 300;
    }
    footer .top-footer{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .top-footer .footer-content {
        width: 80vw;
        align-items: center;
    }
    footer .logo-image img {
        width: 30vw;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-footer .contact{
        align-items: center;
    }   
    .location h6{
        text-align: center;
    }
    .contact-form{
        align-items: center;
    }
    .contact form{
        align-items: center;
    }
    iframe{
        align-self: center;
        padding-bottom: 1em;
    }
    .location .h4{
        text-align: center;
        padding-top: 1em;
    }
    .navigation, .talk-to-us, .location, .contact{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .mail{
        text-align: center;
    }
}