*{
    padding: 0%;
    box-sizing: border-box;

}
:root{
    --clr-light: #fff;
    --clr-dark: #303030;
    --ff-heading:'Inter', sans-serif;
    --fw-heading : 700;
    --fs-heading : 2.2em;
    --clr-highlight: #ffbb33;

    --posterFont: 'Kumbh Sans', sans-serif;
    --contentFont: 'Montserrat', sans-serif;
    --red:#FF0000;
    --creme:rgba(244, 227, 199,0.8);
}

/* -------------new----------- */
body{
    background-image: url('../images/homeImages/bg_white.jpg');
    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--ff-heading);
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    color: var(--clr-white);
}

a:hover{
    color: initial;
}

nav a:hover{
    color: var(--creme);
}

ul{
    padding-left: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
  
nav{
    transition: transform 0.5s linear;
    color: white;
    z-index: 2;
    padding-left: 4em;
    top: 0;
    position: fixed;
    font-style: normal;
    font-weight: 410;
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* box-shadow: inset 0px -1px 0px #C4C4C4; */
    background: rgba(0, 0, 0, 0.1);
}

nav>ul{
    margin: 0.5em, auto;
    list-style: none;
    padding: 0;
}

nav ul li{
    margin:0.8em;
}

nav a{
    text-decoration: none;
}

nav a.active{
    color: var(--clr-dark);
    background-color: var(--creme);
    border-radius: 80px;
    padding: 0.5em 0.7em;
}

nav a.highlight{
    background-color: var(--creme);
    border-radius: 80px;
    padding: 0.5em 0.7em;
}

nav .logo{
    margin-bottom: 0.2em;
}

nav div img{
    width: 1.2em;
    margin:auto 2.5em;
}

.left-nav{
    display: flex;
    flex-wrap: wrap;
    order:0;
}

.right-nav{
    display: flex;
    flex-wrap: wrap;
    order:2;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 36px;
    height: 4px;
    background-color: #fff;
    margin: 6.5px 0;
    transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

.mob-nav {
    display: none;
}

.mob-nav-content{
    display: none;
}


/* ------responsive------------- */
@media only screen and (max-width: 700px) {

    .mob-nav {
        display: flex;
        
    }
    
    nav .left-nav{
        display: none;
    }
    
    nav .right-nav{
        display: none;
    }
    
    nav{
        backdrop-filter: blur(5px);
        display: flex;
        flex-wrap: wrap;
        padding: 2%;
        justify-content: space-between;
    }
    
    .mob-nav-content{
        flex-basis: 100%;
        text-align: center;
    }
    
    .mob-nav-content ul{
        list-style: none;
    }
    .show{
        display: block;
    }
    .text-clr{
        color: var(--clr-light);
    }

}

/* hero ----------------------------*/


.hero{
    overflow-x: hidden ;
    background: url("../images/homeImages/kelly-sikkema-9OGNpJPVMZ8-unsplash.jpg");
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.glass-tint{
    overflow-x:clip;
    top:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(19, 19, 19, 0.9);
}

.head{
    position: relative;
    top: 43%;
}


.heading{
    letter-spacing: 0rem;
    text-align: center;
    color: var(--clr-light);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    font-family: var(--ff-heading);
}


.landing_page_text{
    margin: 1.5em;
    font-size: 0.9rem;
    color: var(--clr-light);
    text-align: center;
    font-weight: 300;
    font-family: var(--contentFont);
}

.socials{
    display: flex;
    list-style: none;
    align-items: center;
}
.social_item{
    margin: 0.8em;
    width: 20px;
}

.icons .fa{
    font-size: large !important;
    transition: transform 0.2s ease-in-out;
}

.icons .fa:hover{
    transform: scale(1.5,1.5);
    color: var(--creme);
}


i{
    font-size: 1.7em;
    color: var(--clr-light);
}
.icons{
    bottom: 0;
    position: absolute;
    left: 0;
}

.together{
    display: flex;
    align-items: center;
    left: 1vw;
    position: relative;
}


.horizontal_line{
    width: 30vw;
    height: 0.08em;
    background: var(--clr-light);
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(209, 206, 206, 0.610909) 99.98%, rgba(224, 224, 224, 0.473958) 99.99%, rgba(196, 196, 196, 0) 100%);
}
.vertical_line{
    bottom: 26vh;
    left: -10vw;
    background: var(--clr-light);
    position: relative;
    width: 25vw;
    height: 0.08em;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(209, 206, 206, 0.610909) 99.98%, rgba(224, 224, 224, 0.473958) 99.99%, rgba(196, 196, 196, 0) 100%);
    transform: rotate(-90deg);
}

.scroll-down{
    /* text-align: right; */
    display: flex;
    align-items: center;
    position: absolute;
    font-family: var(--contentFont);
    color: white;
    font-size: 0.7em;
    bottom: 5em;
    right: 1em;
    transform: rotate(90deg);
}

.scroll-down i{
    align-self: flex-end;
    margin: 0.1vw;
    transform: rotate(-90deg);
}

.fa-solid{
    font-size: 1.3em;
}

.scroll-down a:hover{
    color: var(--creme);
}

.scroll-down a:hover > i {
    color: var(--creme);
}





/* -------------new-end----------- */


/*ABOUT PAGE*/

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0%;
    margin: 0%;
    right: 2%;
    height: 99vh;
}
.abt{
    margin-left: -27vw;
    display: flex;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    left: 5vw;
    flex-direction: column;
}

.abt>div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 2.5em; */
}

.about_heading_text{
    font-family: var(--ff-heading);
    font-size: 3em;
    font-weight: 600;
    margin-bottom: -0.1em;
}


.shadow_text{
    font-size: large;
    align-self: flex-end;
    position: relative;
    color: #cccccc;
    margin: auto 1.5em;
}

.left_line{
    width: 0.1em;
    height: 3em;
    background: linear-gradient(180deg, #000000 0%, rgba(209, 206, 206, 0.610909) 99.98%, rgba(224, 224, 224, 0.473958) 99.99%, #FFFFFF 100%);
    transform: rotate(90deg);
    }
.right_line{
    width: 0.1em;
    height: 3em;
    background:linear-gradient(180deg, #000000 0%, rgba(209, 206, 206, 0.610909) 99.98%, rgba(224, 224, 224, 0.473958) 99.99%, #FFFFFF 100%);    transform: rotate(-90deg);
    }


.abt_text{
    font-family: var(--contentFont);
    font-weight: 400;
    border: 45px solid #d9d9d9;

    border-radius: 1%;
    background-color: #d9d9d9;
    width: 40em;
    height: 20em;

    overflow-y: scroll;
    z-index: 1;
}

.abt_text p{
    line-height: 1.6em;
    padding-top: 1em;
    padding-right: 4em;
}


div::-webkit-scrollbar{
    width: 0.2em;
}
div::-webkit-scrollbar-thumb{
    background-color: var(--clr-dark);
    border-radius: 10px;
    /* width: 2px; */
}
div::-webkit-scrollbar-track{
    background-color: #999999;
}


.abt_img{
    margin-left: -6em;
}

.abt_img>img{
    object-fit: cover;
    border-radius: 3px;
    width: 30em;
    height: 17em;
}


.vision-container{
    position: relative;
    /* align-self: end; */
    padding: 0 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: -4em;
    padding-right: 0;
    left: 3em;
}

.vision{
    margin-left:-4.5em ;
    margin-top: 2em;
}

.vision>h1{
    font-family: var(--ff-heading);
    font-weight: 600;
    font-size: 2.7em;
    margin-bottom: -0.1em;
}


.vision>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vision .shadow_text{
    font-size: 0.8em;
    margin: auto 2.1em;
}


.vis_text{
    text-align: left;
    font-family: var(--contentFont);
    font-weight: 400;
    width: 26em;

}



/* second- hero------------------------- */

.hero-second{
    overflow-x: hidden ;
    background: url("../images/homeImages/carousal2 1.png");
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-second .glass-tint{
    height: 100%;
    top:auto;
    background: rgba(0, 0, 0, 0.8);
}

.hero-second .quote{
    position: absolute;
    top: 20vh;
    left: 4vw;
    font-family: var(--contentFont);
    font-weight: 300;
    color: white;
}

.quote-line, .author{
    transition: opacity 1s;
}

.hero-second .quote h4{
    font-weight: 300;
    text-align: center;
}

.hero-second .quote blockquote{
    text-align: center;
}




/* mission------------------------------------ */

.mission{
    display: flex;
    flex-direction: column;
    justify-content: end;
    right: 4vw;
    top:4vh;
    background-color: white;
    opacity: 0.9!important;
    width: 25em;
    position: absolute;
    padding: 2em;
    border-radius: 10px;
    padding-top: 1em;
    overflow-wrap: break-word;
    margin-top:-0.3
}

.mission-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-heading h2{
    margin: auto 1.7em;
    font-family: var(--ff-heading);
    font-weight: 600;
}

.mission .left_line, .mission .right_line{
    height: 5.5em;
}

.mission-content{
    font-family: var(--contentFont);
    font-weight: 400;
}

.mission .mission-content ul{
    margin-top:-0.3em;
    list-style: none;
}

.mission .mission-content ul li {
    padding-top: 0.4em;
    display: flex;
    align-items: center;
    list-style: none;
    /* padding: auto 1em; */
}

.mission .mission-content ul li img{
    width: 1.2em;
    margin: 0.5em;
    margin-bottom: 1em;
}


/* core-values---------------------- */

.core-values{

    opacity: 0.9!important;
    bottom: 0;
    width: 50%;
    position: absolute;
    background-color: #ffffff;
    padding-top: 2em;
    padding-right: 3em;
    border-top-right-radius: 10px;
}

.core-values .core-heading{
    margin-top: -3em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 2em; */
}

.core-values .core-heading h2{
    margin: auto 3em;
    font-family: var(--ff-heading);
    font-weight: 600;
}

.core-values .left_line, .core-values .right_line{
    height: 9.5em;
}

.core-values .core-content{
    font-family: var(--contentFont);
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

.core-content .text1{
    width:58%;
    background: #C4C4C4;
    border-top-right-radius: 5px;
    padding: 2em;
}

.core-content .text2{
    width:42%;
    padding: 2em;
    padding-right: 1em;
}


/* achievements------------------------ */

h2{
    text-shadow: 10px 5px 10px rgb(0 0 0 / 18%);
}


.achievements{
    margin-bottom: 8vh;
}

.achievements-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievements .left_line, .achievements .right_line{
    height: 13em;
}

.achievements h2{
    margin: 0 3.5em;
    font-family: var(--ff-heading);
    font-weight: 600;
    font-size: 220%;
}



.achievements-content{
    margin-top: -0.5vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.achievements-body>div{
    display: flex;
    margin-left: 3vw;
    justify-content: center;
}

.achievements-content i{
    padding: 0.5em;
    color: #303030;
}

.achievements-content .achievements-card{
    margin: 4.5vh 7vw;
    position: relative;
    /* margin-left: 10vw; */
    /* margin-bottom: 5vh; */
    /* height: 6em; */
    width: 9em;
    background-color: white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5), inset -1px 0px 0px #C4C4C4, inset 0px -1px 0px #C4C4C4, inset 1px 0px 0px #C4C4C4, inset 0px 1px 0px #C4C4C4;
}

.achievements-content .achievements-card>div{

    border-top:1px solid #303030;
    color: white;
    background: #303030;
}

.achievements-content .achievements-card h5{
    padding: 1.7em 1em;
    font-family: var(--ff-heading);
    font-weight: 200;
    font-size: 0.7em;
    margin-bottom: 0;
}




.achievements .achievements-image img{
    width:40vw;
    height: 25em;
    object-fit: cover;
}


/* footer----------------------------- */

footer {
    background-color: #e6e6e6;
    padding: 13vh 0;
    padding-bottom: 7vh;
}

footer ul li{
    list-style: none;
}

footer .top-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 4vw;
    /* padding: 8em; */
}

footer .top-footer .footer-content{
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 11vw;
    /* padding: 8em; */
}


footer .logo-image img{
    width:10vw;
}

footer .location h6{
    width: 18em;
}

.top-footer h4{
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 0.8em;
    padding-bottom: 1.5em;
}

.top-footer ul li, .top-footer h6{
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.7em;

}

.top-footer ul li{
    line-height: 1.9em;
}

.top-footer h6{
    line-height: 1.4em;
}

iframe{
    margin-top: 1em;
}

.bottom-footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.top-footer .contact>h5{
    font-family: var(--ff-heading);
    font-weight: 700;
    font-size: 0.8em;
    padding-bottom: 1em;
}


.top-footer .contact h6{
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.8em;
}

.top-footer .contact .mail h6:first-child{
    padding-bottom: 0.5em;
}


.top-footer .contact{
    align-self: auto;
}

.mail{
    margin-bottom: 2em;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.contact form input, .contact form textarea{
    padding: 0.5em;
    font-weight: 400;
    font-size: 0.7em;
    border: none;
    background: transparent;
    border-bottom: 0.1px solid #C4C4C4; 
    margin-bottom: 1em;
}

.contact form input:focus, .contact form textarea:focus{
    /* border: none; */
    outline:none;
}

.contact form .fa{
    color: #999999;
    cursor: pointer;
    transition: transform 0.4s ease-out, opacity 0.8s ease-in ;
}

form span i.sent{
    /* transform: scale(1.2,1.2); */
    transform:translateX(10vw);
    opacity: 0;
}

textarea::-webkit-scrollbar{
    width: 0.3em;
}
textarea::-webkit-scrollbar-thumb{
    background-color: var(--clr-dark);
    border-radius: 10px;
    /* width: 2px; */
}
textarea::-webkit-scrollbar-track{
    background-color: #999999;
}

.copyright h6{
    position: absolute;
    right: 3vw;
    font-family: var(--contentFont);
    font-weight: 400;
    font-size: 0.65em;
    padding-top: 1.5em;
}



/* responsive------------------------------ */

@media only screen and (max-width: 1430px){


.hero-second .quote{
    width: 40em; 
}

}


@media only screen and (max-width: 1125px){

.about{
    flex-direction: column;
    right: 0;
    height: auto;
}

.about-container{
    margin: 4em 0;
}

.abt{
    margin-left: 0;
    left: 0;
}

.vision-container{
    padding: 0;
    margin-left: 0;
    left:0;
    margin-bottom: 4em;
}

.abt_img{
    margin-left: 0;
}

.vision{
    margin-left: 0;
}

.vis_text{
    text-align: center;
    width: 30em;
}

.hero-second .quote{
    top: 54vh;
    left: 0;
    right: 0;
    width: auto;
}

.core-values{
    width: 70%;
}

}


@media only screen and (max-width: 1000px){

.scroll-down{
    display: none;
}

.achievements-content{
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}


div.achievements-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
    order: 1;
    margin-bottom: -3em;
}

}

@media only screen and (max-width: 840px){

.core-values{
    width: 88%;
}

.achievements .achievements-image img {
    height: 25vh;
}

}



@media only screen and (max-width: 735px){

.abt_text{
    width: 100%;
}

.achievements .left_line, .achievements .right_line {
    height: 6vh;
}

.achievements h2{
    margin: 1.5em;
}

}


@media only screen and (max-width: 640px){

.abt_img>img {
    width: 80%;
}

.left_line, .right_line {
    display: none;
}

.vis_text{
    width: auto;
}


.hero-second .glass-tint{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.hero-second .quote {
    height: 8em;
    position: relative;
    top: 0;
    order: 1;
}

.mission{
    top:auto;
    order: 0;
    right: auto;
    position: relative;
}

.mission-heading h2 {
    margin: 0.7em 1.7em;
}

.core-values{
    position: relative;
    order: 2;
    width: 75%;
    border-radius: 15px;
    padding-right: 0;
    bottom: auto;
}

.core-values .left_line, .core-values .right_line {
    height: 6.5vh;
}

.core-values .core-heading {
    margin-top: -2.5em;
}

.core-values .core-heading h2{
    margin: 1.7em 2.1em;
}

.core-values .core-content{
    padding: 2em;
    padding-top: 0;
    flex-direction: column;
}

.core-content .text1{
    border-radius: 5px;
    text-align: center;
    width: auto;
}

.core-content .text2 {
    text-align: center;
    width: auto;
    padding: 2em;
}

.achievements .achievements-image img {
    height: auto;
    width: 70%;
}

.achievements h2 {
    margin: 1.8em;
    margin-top: 2.2em;
}


}


@media only screen and (max-width: 550px){

.achievements-body>div, div.achievements-body{
    flex-direction: column;
}

}

@media only screen and (max-width: 300px){


.heading{
    font-size: 1.5rem;
}

.vision{
    margin-bottom: 0.5em;
}

.abt_text{
    border: 25px solid #d9d9d9;
}

.abt_text p {
    text-align: center;
    padding-right: 3em;
}
    
}



@media only screen and (max-width: 420px){

.mission{
    width: 90%;
}

.core-values{
    width: 90%;
}

}


/* responsive with height -------------------------- */


@media only screen and (max-height: 1180px) and (max-width: 720px){

.hero-second{
    height: 110vh;
}
    
}


@media only screen and (max-height: 1180px) and (max-width: 640px){

.hero-second{
    height: 140vh;
}

.abt_img>img {
    height: auto;
}

}

@media only screen and (max-height: 740px) and (max-width: 540px){

.hero-second{
    height: 165vh;
}
    
}
    

@media only screen and (max-height: 740px) and (max-width: 420px){

.hero-second{
    height: 185vh;
}

.mission{
    width: 90%;
}

.achievements h2 {
    font-size: 180%;
}

}

@media only screen and (max-height: 740px) and (max-width: 300px){

.hero-second{
    height: 240vh;
}

.mission-content{
    font-size: 75%;
}

.core-values .core-heading h2 {
    margin-left: 0;
    margin-right: 0;
}

}


@media only screen and (max-height: 640px) and (max-width: 1150px){

.hero-second .quote {
    top: 90vh;
}

.hero-second{
    height: 165vh;
}



}



/* footer responsive----------------- */

@media(max-width: 950px) {
    .footer-content{
        display: flex;
        flex-direction: column;
    }
    .nav_footer, .talk_footer{
        display: flex;
        flex-wrap: wrap;
    }
    .navigation ul li, .talk-to-us ul li{
        margin-top: 0;
        margin: 0.5em;
    }
    .navigation h4{
        padding-top: 1em;
    }
    .location, .contact{
        display: flex;
        flex-direction: column;
    }
    .contact{
        padding-top: 1em;
    }
    .top-footer h4 {
        padding-bottom: 0.2em;
        align-self: center;
        text-align: center;
    }
    .bottom-footer{
        display: flex;
        justify-content: center;
        font-family: var(--contentFont);
        text-align: center;
    }
    .bottom-footer h6{
        font-size: 0.65em;
        font-weight: 300;
    }
    footer .top-footer{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .top-footer .footer-content {
        width: 80vw;
        align-items: center;
    }
    footer .logo-image img {
        width: 30vw;
    }
    .footer-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-footer .contact{
        align-items: center;
    }   
    .location h6{
        text-align: center;
    }
    .contact-form{
        align-items: center;
    }
    .contact form{
        align-items: center;
    }
    iframe{
        align-self: center;
        padding-bottom: 1em;
    }
    .location .h4{
        text-align: center;
        padding-top: 1em;
    }
    .navigation, .talk-to-us, .location, .contact{
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .mail{
        text-align: center;
    }
}